#![enable(implicit_some)]
Container(
    transform: (
        id: "loading_screen",
        anchor: Middle,
        stretch: XY( x_margin: 0.0, y_margin: 0.0, keep_aspect_ratio: true),
        width: 1920.0,
        height: 1080.0,
    ),
    background: SolidColor(0.01, 0.01, 0.01, 1.0),
    children: [
        Label(
            transform: (
                id: "loading_text",
                x: 0.0,
                y: 0.0,
                width: 800.,
                height: 175.,
                tab_order: 1,
                anchor: Middle,
            ),
            text: (
                text: "Loading...",
                font: File("fonts/Nunito-Regular.ttf", ("TTF", ())),
                font_size: 96.,
                color: (0.8314, 0.86367, 0.87185, 1.0),
                align: Middle,
            )
        ),
    ]
)
